[submodule "src/simulator"]
	path = src/simulator
	url = git://github.com/zpp0/wsnsim-simulator.git
[submodule "src/libs/projectData"]
	path = src/libs/projectData
	url = git://github.com/zpp0/wsnsim-libs-projectData.git
[submodule "examples"]
	path = examples
	url = git://github.com/zpp0/wsnsim-examples.git
[submodule "src/preprocessor"]
	path = src/preprocessor
	url = git://github.com/zpp0/wsnsim-preprocessor.git
[submodule "src/postprocessor"]
	path = src/postprocessor
	url = git://github.com/snip89/wsnsim-postprocessor.git
[submodule "src/starter"]
	path = src/starter
	url = git://github.com/zpp0/wsnsim-starter.git
[submodule "src/libs/SnifferSettings"]
	path = src/libs/SnifferSettings
	url = git://github.com/Amagor/SnifferSettings.git
[submodule "src/libs/globalSettings"]
	path = src/libs/globalSettings
	url = git://github.com/snip89/wsnsim-libs-globalSettings.git
[submodule "src/sniffer"]
	path = src/sniffer
	url = git://github.com/Amagor/wsnsim-sniffer
[submodule "src/libs/qextserialport"]
	path = src/libs/qextserialport
	url = https://code.google.com/p/qextserialport
[submodule "src/libs/formatData"]
	path = src/libs/formatData
	url = git://github.com/snip89/wsnsim-libs-formatData.git
